/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../fonts/roboto-v29-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v29-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

b {
  font-weight: bold;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: black;
}
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper-header-nav {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  margin-right: 157px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 42px;
  text-decoration: none;
  align-self: baseline;
}
.header-item:nth-child(7) {
  margin-right: 146px;
}
.header-item:nth-child(8) {
  margin-right: 38px;
}
.header-item:nth-child(9) {
  margin-right: 0;
}

.header-link {
  color: #1c1c1c;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 75%;
}

.book-a-demo {
  display: inline-block;
  color: white;
  padding: 11px 34px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #6f2cff;
}

/* Intro */

.wrapper-intro {
  max-width: 1210px;
  margin: 0 auto;
}

.intro {
  margin-top: 60px;
  padding-top: 134px;
  min-height: 100vh;
  background: url(../img/intro-background.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 35px;
}

.pre-intro-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 19px;
}

.intro-title {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
  margin-bottom: 37px;
}
.intro-title-line-1 {
  line-height: 61px;
}

.intro-title-line-2 {
  line-height: 54px;
  color: #6f2dff;
}

.intro-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 438px;
  margin-bottom: 4px;
}

.sending-form-info {
  display: flex;
  flex-wrap: wrap;
}

.sending-form-field {
  background-color: white;
  border: 1px solid #6f2cff;
  border-radius: 27.5px 0px 0px 27.5px;
  height: 45px;
  width: 268px;
  padding-left: 26px;
  color: #00000045;
}

.sending-form-submit {
  background: #6f2cff;
  border-color: #6f2dff;
  border-radius: 0px 27.5px 27.5px 0px;
  height: 45px;
  width: 187px;
  color: white;
}

.sending-form-submit:hover,
.sending-form-submit:focus,
.sending-form-submit:active {
  opacity: 75%;
}
